@model IEnumerable<Assessment7.Models.Finance>

@{
    ViewData["Title"] = "FinanceEntry";
}

<h2 style="text-align:center">Cab Booking Billing Details</h2>

<p class="d-flex justify-content-center pt-2 pb-2">
    <a class="btn btn-md btn-outline-success" asp-action="Create">Add a new booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                INR @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingDate)
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a>
                <a class="btn btn-sm btn-primary ml-1" asp-action="Details" asp-route-id="@item.TransactionId">Details</a>
                <a class="btn btn-sm btn-danger ml-1" asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
