@model IEnumerable<Assessment7.Models.Employees>

@{
    ViewData["Title"] = "EmpView";
}
<style>
    .avatar{
        vertical-align:middle;
        width:50px;
        height:50px;
        border-radius:50%;
    }
</style>
<h1>EmpView</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Profile Pic
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.EmpDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
          
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="" class="avatar" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
           
            <td>
                @*@<a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>*@
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-primary ml-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-danger ml-1">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
